
/* src/components/Navbar.css */

.navbar-container {
    background-color: #1d4b3b;
    color: #ece6d0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 75%;
    height: auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ece6d0;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #914b13;
    /* Change the color on hover as desired */
}
